<div class="ui visible very wide sidebar">

<div class="ui basic left aligned very padded segment">

<div class="ui basic left aligned segment">


<div data-ng-init="init()">

		<div class="fixed">

			<div class="ui accordion">

				<div class="title active">
			  		<i class="search icon"></i>
			  	</div>

			  	<div class="active content">
		  			<br>

		  			<form class="ui form">

					  	<div class="field">
					    	<div class="title">
					  			<a href="/user" class="navLink">Self</a>
							</div>
					  	</div>

					  	<div class="field">

					  		<div class="field">
							    <input type="text" name="year" placeholder="Year">
							</div>

					   		<div class="title">
							  	<div class="ui selection dropdown">
								  <input type="hidden" name="gender">
								  <i class="dropdown icon"></i>
								  <div class="default text">Gender</div>
								  <div class="menu">
								    <div class="item" data-value="1">Male</div>
								    <div class="item" data-value="0">Female</div>
								  </div>
								</div>
							</div>
					  	</div>

					  	<button class="ui button" type="submit">Submit</button>
					</form>

					<div class="title">
					  	<a href="/user" class="navLink">Self</a>
					</div>


			    </div>
			</div>
	  	</div>
</div>

</div>

</div>

</div>  

</div>

</div>

</div>