<i class="add link circle icon" ng-click="listsController.showModal()"></i>

<div class="ui modal">
    <div class="header">
        Create a List
    </div>
    <div class="ui grid">
        <div class="two wide column"></div>
        <div class="twelve wide column">
          <br><br>
          <form class="ui form" ng-submit="listsController.createList()">
            <div class="field">
              <input type="text" name="listName" placeholder="Name" ng-model="listsController.listData.listName">
            </div>
            <div class="actions">
                <div class="actions">
                    <button class="ui ok right floated blue basic button" type="submit">Create</button>
                    <button class="ui cancel right floated black basic button">Cancel</button>
                </div>
            </div>
          </form>
        </div>
    </div>
    <br><br>
</div>