<div class="ui grid">

    <div class="one wide column"></div>

    <div class="two wide column">
        <navbar></navbar>
    </div>

    <div class="two wide column"></div>

    <div class="six wide column">

        <br><br><br>

        <div class="ui basic center aligned segment">

            <h1>Create a Page</h1>

            <br>

            <div ng-if="pagesController.errorMessage">
                {{pagesController.errorMessage}}
                <br><br>
            </div>

            <form class="ui form" ng-submit="pagesController.createPage()">
                <div class="field">
                  <input type="text" name="pageName" placeholder="Page Name" ng-model="pagesController.createPageName">
                </div>
                <div class="field">
                  <textarea rows="5" type="text" name="pageDescription" placeholder="What is this page about?" ng-model="pagesController.createPageDescription"></textarea>
                </div>
                <div class="actions">
                    <button class="ui ok right floated blue basic button" type="submit">Create</button>
                    <button class="ui deny right floated grey basic button" ng-click="pagesController.goBack()">Cancel</button>
                </div>
            </form>

        </div>

    </div>

</div>