<div class="ui grid">

  <div class="one wide column"></div>

  <div class="two wide column">
    <navbar></navbar>
  </div>

  <div class="two wide column"></div>

  <div class="six wide column">

    <br><br><br>

        <div class="ui basic center aligned segment">
            <!-- <img ng-if="profileController.imgSrc" src="{{profileController.imgSrc}}" style="height:150px;border-radius:50%"> -->
            <h1 ng-if="profileController.user.displayName">{{ profileController.user.displayName }}</h1>
            <h4>{{ profileController.user.description }}</h4>
            <br>
            <button class="ui mini grey basic button" ng-click="profileController.unfollowUser()" ng-if="profileController.isConnected">Connected</button>
            <button class="ui mini grey basic button" ng-click="profileController.followUser()" ng-if="!profileController.isConnected">Connect</button>
        </div>

        <br>

        <!-- posts -->
        <div ng-if="profileController.posts.length > 0">
            <div ng-repeat="post in profileController.posts">
                <h3 class="ui top attached header">
                    {{post.postTitle}}
                </h3>
                <div class="ui attached segment" ng-if="post.postContent.length > 0">
                    {{post.postContent}}
                </div>
                <div class="ui attached segment">
                    <i>{{post.postSummary}}</i>
                </div>
                <br><br><br>
            </div>
        </div> 

  </div>

</div>