<div class="ui grid">

    <div class="one wide column"></div>

    <div class="two wide column">
        <navbar></navbar>
    </div>

    <div class="two wide column"></div>

    <div class="six wide column">

        <br><br><br>

        <div class="ui basic center aligned segment">

            <!-- <img ng-if="userController.imgSrc" src="{{userController.imgSrc}}" style="height:150px;border-radius:50%"> -->

            <h1>{{ userController.displayName }}</h1>
            <h4>{{ userController.description }}</h4>

            <!-- <a href="/settings"><i class="edit link icon iconLink"></i></a> -->

            <br><br>

            <a href="/write" class="createPost">Write a prayer post</a> <br>

            <br><br>

        </div>


        <div class="ui accordion">
          <div class="active title">
            <h3>Struggling with addiction</h3>
          </div>
          <div class="content">
            <p>8-bit etsy bushwick farm-to-table chia next level pabst, leggings four dollar toast chartreuse tofu. Post-ironic actually hashtag polaroid ramps. You probably haven't heard of them flexitarian typewriter literally flannel meggings. Seitan squid bicycle rights, scenester chicharrones wolf selfies before they sold out mumblecore you probably haven't heard of them occupy roof party craft beer celiac next level. Portland kinfolk VHS craft beer, kickstarter art party 8-bit typewriter fixie lumbersexual shabby chic mlkshk chia. Chambray chillwave four loko, disrupt poutine swag echo park schlitz distillery before they sold out. Taxidermy seitan mixtape art party.

            Letterpress bespoke plaid irony. Selvage keytar health goth, affogato flexitarian farm-to-table venmo forage cray single-origin coffee semiotics authentic meggings vinyl. Meggings letterpress thundercats lo-fi affogato. Heirloom quinoa kitsch, brooklyn next level lumbersexual twee neutra readymade. Vinyl cred church-key semiotics tousled, 90's mustache iPhone venmo gastropub. Hammock kickstarter normcore, synth iPhone raw denim crucifix chia. Selvage tofu butcher cornhole, brooklyn ennui cliche.

            Meggings asymmetrical actually microdosing thundercats chartreuse, raw denim sustainable aesthetic artisan. Raw denim DIY kickstarter, hoodie fixie pitchfork venmo migas whatever blog gochujang. Jean shorts hella readymade kogi, thundercats 8-bit single-origin coffee yuccie hoodie squid master cleanse brooklyn. Vinyl yr humblebrag, fixie meh poutine cred chambray butcher flexitarian. Pinterest meditation neutra microdosing readymade migas ethical banjo irony keffiyeh. Irony craft beer gochujang, hoodie cardigan quinoa lumbersexual kombucha four dollar toast. Messenger bag taxidermy vice, fanny pack mlkshk freegan biodiesel tousled poutine.

            Deep v scenester ennui, put a bird on it biodiesel occupy actually mustache hammock mumblecore church-key. Freegan gluten-free small batch skateboard sartorial lo-fi fixie fanny pack chicharrones poutine, organic leggings lomo. Taxidermy tumblr iPhone, synth lomo chia normcore locavore migas biodiesel. Cardigan cornhole tumblr cred, yr pork belly bespoke farm-to-table helvetica raw denim church-key venmo. Marfa plaid bitters photo booth seitan, lo-fi fingerstache food truck knausgaard typewriter. Flannel gastropub drinking vinegar kickstarter, man braid tote bag pitchfork aesthetic roof party art party post-ironic meh. Twee art party crucifix synth, sustainable hella pabst fashion axe man braid VHS austin occupy hoodie cliche chia.</p>
          </div>
            <i> Deep v scenester ennui, put a bird on it biodiesel occupy actually mustache hammock mumblecore church-key. Freegan gluten-free small batch skateboard sartorial lo-fi fixie fanny pack chicharrones poutine, organic leggings lomo. Taxidermy tumblr iPhone, synth lomo chia normcore locavore migas biodiesel. Cardigan cornhole tumblr cred, yr pork belly bespoke farm-to-table helvetica raw denim church-key venmo. Marfa plaid bitters photo booth seitan, lo-fi fingerstache food truck knausgaard typewriter. Flannel gastropub drinking vinegar kickstarter, man braid tote bag pitchfork aesthetic roof party art party post-ironic meh. Twee art party crucifix synth, sustainable hella pabst fashion axe man braid VHS austin occupy hoodie cliche chia.</i>
        </div>


        <br><br><br><br>

        <div class="ui accordion">
          <div class="active title">
            <h3>Conquering Sin </h3>
          </div>
          <div class="content">
            <p>8-bit etsy bushwick farm-to-table chia next level pabst, leggings four dollar toast chartreuse tofu. Post-ironic actually hashtag polaroid ramps. You probably haven't heard of them flexitarian typewriter literally flannel meggings. Seitan squid bicycle rights, scenester chicharrones wolf selfies before they sold out mumblecore you probably haven't heard of them occupy roof party craft beer celiac next level. Portland kinfolk VHS craft beer, kickstarter art party 8-bit typewriter fixie lumbersexual shabby chic mlkshk chia. Chambray chillwave four loko, disrupt poutine swag echo park schlitz distillery before they sold out. Taxidermy seitan mixtape art party.

            Letterpress bespoke plaid irony. Selvage keytar health goth, affogato flexitarian farm-to-table venmo forage cray single-origin coffee semiotics authentic meggings vinyl. Meggings letterpress thundercats lo-fi affogato. Heirloom quinoa kitsch, brooklyn next level lumbersexual twee neutra readymade. Vinyl cred church-key semiotics tousled, 90's mustache iPhone venmo gastropub. Hammock kickstarter normcore, synth iPhone raw denim crucifix chia. Selvage tofu butcher cornhole, brooklyn ennui cliche.

            Meggings asymmetrical actually microdosing thundercats chartreuse, raw denim sustainable aesthetic artisan. Raw denim DIY kickstarter, hoodie fixie pitchfork venmo migas whatever blog gochujang. Jean shorts hella readymade kogi, thundercats 8-bit single-origin coffee yuccie hoodie squid master cleanse brooklyn. Vinyl yr humblebrag, fixie meh poutine cred chambray butcher flexitarian. Pinterest meditation neutra microdosing readymade migas ethical banjo irony keffiyeh. Irony craft beer gochujang, hoodie cardigan quinoa lumbersexual kombucha four dollar toast. Messenger bag taxidermy vice, fanny pack mlkshk freegan biodiesel tousled poutine.

            Deep v scenester ennui, put a bird on it biodiesel occupy actually mustache hammock mumblecore church-key. Freegan gluten-free small batch skateboard sartorial lo-fi fixie fanny pack chicharrones poutine, organic leggings lomo. Taxidermy tumblr iPhone, synth lomo chia normcore locavore migas biodiesel. Cardigan cornhole tumblr cred, yr pork belly bespoke farm-to-table helvetica raw denim church-key venmo. Marfa plaid bitters photo booth seitan, lo-fi fingerstache food truck knausgaard typewriter. Flannel gastropub drinking vinegar kickstarter, man braid tote bag pitchfork aesthetic roof party art party post-ironic meh. Twee art party crucifix synth, sustainable hella pabst fashion axe man braid VHS austin occupy hoodie cliche chia.</p>
          </div>
            <i> Deep v scenester ennui, put a bird on it biodiesel occupy actually mustache hammock mumblecore church-key. Freegan gluten-free small batch skateboard sartorial lo-fi fixie fanny pack chicharrones poutine, organic leggings lomo. Taxidermy tumblr iPhone, synth lomo chia normcore locavore migas biodiesel. Cardigan cornhole tumblr cred, yr pork belly bespoke farm-to-table helvetica raw denim church-key venmo. Marfa plaid bitters photo booth seitan, lo-fi fingerstache food truck knausgaard typewriter. Flannel gastropub drinking vinegar kickstarter, man braid tote bag pitchfork aesthetic roof party art party post-ironic meh. Twee art party crucifix synth, sustainable hella pabst fashion axe man braid VHS austin occupy hoodie cliche chia.</i>
        </div>


        <br><br><br><br> <br><br><br><br><br><br><br><br> <br><br><br><br>
        <br><br><br><br> <br><br><br><br><br><br><br><br> <br><br><br><br>



        <!-- posts -->
        <div ng-if="userController.posts.length > 0">
            <div ng-repeat="post in userController.posts">
                <div class="ui accordion">
                    <div class="active title">
                        <h3>Struggling with addiction</h3>
                    </div>
                <div class="content">
                    {{post.postContent}}
                </div>
                <i>{{post.postSummary}}</i>
                <br><br><br>
            </div>
        </div> 

        <!-- posts -->
        <div ng-if="userController.posts.length > 0">
            <div ng-repeat="post in userController.posts">
                <h3 class="ui top attached header">
                    {{post.postTitle}}
                </h3>
                <div class="ui attached segment" ng-if="post.postContent.length > 0">
                    {{post.postContent}}
                </div>
                <div class="ui attached segment">
                    <i>{{post.postSummary}}</i>
                </div>
                <br><br><br>
            </div>
        </div> 

    </div>

</div>