<div class="ui feed">

    <div class="event">
        <div class="label">
          <img src="/images/avatar/small/elliot.jpg">
        </div>
        <div class="content">
          <div class="summary">
            <a class="user">Christie Chong</a> accepted your connection request.
            <div class="date">1 Hour Ago</div>
          </div>
        </div>
    </div>

    <div class="event">
        <div class="label">
          <img src="/images/avatar/small/elliot.jpg">
        </div>
        <div class="content">
          <div class="summary">
            <a class="user">Russell Lee</a> sent you a connection request.
            <div class="date">1 Hour Ago</div>
          </div>
        </div>
    </div>

    <div class="event">
        <div class="label">
          <img src="/images/avatar/small/elliot.jpg">
        </div>
        <div class="content">
          <div class="summary">
            <a class="user">Matthew</a> has an urgent prayer <a>request</a>.
            <div class="date">1 Hour Ago</div>
          </div>
        </div>
    </div>

</div>