<div class="ui grid">

    <div class="one wide column"></div>

    <div class="two wide column">
        <navbar></navbar>
    </div>

    <div class="two wide column"></div>

    <div class="six wide column">

        <br><br>

        <div class="ui basic center aligned segment">

            <div ng-if="writingController.errorMessage">
                {{writingController.errorMessage}}
                <br><br>
            </div>

            <form class="ui form" ng-submit="writingController.submitPost()">
                <div class="field">
                    <input type="text" name="postTitle" placeholder="Title" ng-model="writingController.postData.postTitle">
                </div>
                <!-- <div class="field">
                    <input type="text" name="postLocation" placeholder="Location" ng-model="writingController.postData.postLocation">
                </div> -->
                <div class="field">
                    <textarea placeholder="Tell the story ..." rows="16" ng-model="writingController.postData.postContent"></textarea>
                </div>
                <div class="field">
                    <textarea placeholder="Share how to pray ..." rows="5" ng-model="writingController.postData.postSummary"></textarea>
                </div>
                <div class="inline fields">
                    <div class="field">
                        <div class="ui checkbox" ng-click="writingController.isPrivate=!writingController.isPrivate">
                            <input type="checkbox" tabindex="0" class="hidden" ng-model="writingController.isPrivate">
                            <label>Private</label>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui checkbox" ng-click="writingController.postData.urgent=!writingController.postData.urgent">
                            <input type="checkbox" tabindex="0" class="hidden" ng-model="writingController.postData.urgent">
                            <label>Urgent</label>
                        </div>
                    </div>
                </div>
                <div class="actions">
                    <button class="small ui ok right floated blue basic button" type="submit">Submit</button>
                    <button class="small ui cancel right floated grey basic button" ng-click="writingController.goBack()">Cancel</button>
                </div>
            </form>

        </div>

    </div>

</div>

