<div class="ui visible very wide sidebar">

<div class="ui basic left aligned very padded segment">

<div class="ui basic left aligned segment">


<div data-ng-init="init()">

		<div class="fixed">

			<div class="ui accordion">

				<div class="title active">
			  		<i class="sidebar icon"></i>
			  	</div>
			  	<div class="active content">
		  			<br>

<!-- 			    	<div class="accordion transition visible" style="display: block !important;">
-->

					<div class="notTitle">
<!-- 					  		<i class="dropdown icon"></i>
-->					  	<a href="/home" class="navLink">Home</a>
					</div>

					<div class="notTitle">
<!-- 					  		<i class="dropdown icon"></i>
-->					  	<a href="/user" class="navLink">Self</a>
					</div>
<!-- 						<div class="content">
						<p class="transition hidden">Level 1A Contents</p>
					</div> -->

 					<div class="notTitle">
					  	<a href="/connections" class="navLink">Others</a>
					</div>
<!-- 						<div class="content">
					  	Level 1B Contents
					</div> -->

					<div class="notTitle">
				  		<a href="/groups" class="navLink">Groups</a>
					</div> 
<!-- 						<div class="content">
					  	Level 1C Contents
					</div> -->

					<div class="notTitle">
<!-- 						  	<i class="dropdown icon"></i>
-->					  	<a href="/pages" class="navLink">Pages</a>
					</div>
<!-- 						<div class="content">
					  	Level 1B Contents
					</div> -->

					<!-- <div class="notTitle">
					  	<a href="/lists" class="navLink">Lists</a>
					</div> -->
<!-- 						<div class="content">
					  	Level 1C Contents
					</div> -->

					<!-- <div class="notTitle">
						  	<a href="/map" class="navLink">Map</a>
					</div> -->

					<div class="notTitle">
						  	<a href="/explore" class="navLink">Search</a>
					</div>

					<!-- <div class="notTitle">
						  	<a href="/chat" class="navLink">Chat</a>
					</div>  -->

<!-- 					<div class="notTitle">
						  	<a href="/notifications" class="navLink">Notifications (4)</a>
					</div> -->

					<!-- <div class="notTitle">
						  	<a href="/settings" class="navLink">Settings</a>
					</div> -->

					<div class="notTitle">
						  	<a href="/login" class="navLink">Logout</a>
					</div>

			    </div>
			</div>
	  	</div>
</div>

</div>

</div>

</div>  

</div>

</div>

</div>

